similarité.json
{
  "name": "similarité",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        160
      ],
      "id": "efdeab68-dbde-471d-adf6-195764e10e1c",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "CDq0BjeFKrC4wR6c",
          "name": "Microsoft Outlook account 17"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const subject = item.json.subject || \"\"; \n  const body = item.json.body || \"\"; \n  return { \n    json: { \n      ...item.json, \n      text_for_embedding: `search_query: Objet: \n${subject}\\nMessage:\\n${body}` \n    } \n  }; \n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        160
      ],
      "id": "2bcb643b-0e6c-4801-83cc-74197abe6170",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.cpnv.me/workflow/aiEGX0m2qmc8bR94nreiu",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "value": "={    \"model\": \"nomic-embed-text-v2-moe\",    \"input\": \"{{ $json.text_for_embedding }}\"  }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "4da516c3-4ffd-42ee-a92d-b6adab265c6e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        240
      ],
      "id": "9dfb0351-f7fb-4651-b3a4-7e09a9586aa8",
      "name": "Merge"
    },
    {
      "parameters": {
        "fileSelector": "/data/embeddingSmith.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        384,
        160
      ],
      "id": "66878d4a-d25c-41a3-91f1-dc484bc7969a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        592,
        160
      ],
      "id": "946cc417-1ab8-4a11-ac5a-025fc1c17212",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "function cosineSimilarity(a, b) {\n  if (!Array.isArray(a) || !Array.isArray(b)) return 0;\n  if (a.length !== b.length) return 0;\n\n  let dot = 0;\n  let normA = 0;\n  let normB = 0;\n\n  for (let i = 0; i < a.length; i++) {\n    const valA = Number(a[i]) || 0;\n    const valB = Number(b[i]) || 0;\n\n    dot += valA * valB;\n    normA += valA * valA;\n    normB += valB * valB;\n  }\n\n  // éviter division par 0\n  if (normA === 0 || normB === 0) return 0;\n\n  return dot / (Math.sqrt(normA) * Math.sqrt(normB));\n}\n\n// Email entrant depuis Merge\nconst incomingNode = $('Merge').first();\nif (!incomingNode || !incomingNode.json) {\n  throw new Error(\"Données Merge introuvables\");\n}\n\nconst incoming = incomingNode.json;\n\n// Embedding entrant\nconst incomingEmbedding =\n  incoming.embedding ||\n  (Array.isArray(incoming.embeddings) ? incoming.embeddings[0] : null);\n\nif (!Array.isArray(incomingEmbedding)) {\n  throw new Error(\"Embedding entrant invalide ou introuvable\");\n}\n\n// Corpus\nconst fileItems = $('Extract from File').all();\nconst corpus = [];\n\nfor (const fileItem of fileItems) {\n  const rows = fileItem.json?.data || [];\n\n  for (const row of rows) {\n    try {\n      if (!row.line) continue;\n\n      const mail = JSON.parse(row.line);\n\n      if (Array.isArray(mail.embedding)) {\n        corpus.push(mail);\n      }\n    } catch (e) {\n      // optionnel : log erreur\n      // console.log(\"Erreur parsing :\", e);\n    }\n  }\n}\n\n// Calcul des scores\nconst results = corpus\n  .filter(mail => mail.message_id !== incoming.message_id)\n  .map(mail => ({\n    json: {\n      subject: mail.subject || \"\",\n      body_text: mail.body_text || \"\",\n      sender: mail.sender || \"\",\n      similarity: cosineSimilarity(incomingEmbedding, mail.embedding)\n    }\n  }))\n  .sort((a, b) => b.json.similarity - a.json.similarity)\n  .slice(0, 3);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        592
      ],
      "id": "f1df5ae1-e236-4921-83e3-dcd221c45c9e",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e144d9ff-71a6-4180-9428-aba65f0079f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "yKTznG1RtfI8LoedmszpA",
  "tags": []
}